<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/menu/assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="/static/menu/assets/css/custom.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="page-wrapper">
        <div th:replace="~{components/menu::menu}"></div>
        <main class="page-content">
            <div class="container-fluid">
                <div class="jumbotron" style="border-radius:0;">
                    <div class="navigation">
                        <a class="btn" th:href="@{login}" role="button">登录</a>
                        <a class="btn" href="#" role="button">关于我们</a>
                    </div>
                    <h1>智慧党建</h1>
                    <h2>重庆师范大学计算机与信息科学学院党建平台</h2>
                    <p>初步构建“党务管理智能化、信息管理维护精准化、 党员教育管理个性化”的智慧党建工作新模式，打破了地域、时空界限的壁垒，有利于增强基层党组织对党员的吸引力和凝聚力。</p>
                    <div class="info">---由计信学院开发 </div>
                </div>


                <div class="services-section">
        			<div class="inner-width">
        				<h1 class="section-title">本平台</h1>
        				<div class="border"></div>
        				<div class="services-container">
        					<div class="service-box">
        						<div class="service-icon">
        							<i class="fas fa-paint-brush"></i>
        						</div>
        						<div class="service-title">平台化</div>
        						<div class="service-desc">
        							初步构建“党务管理智能化、信息管理维护精准化、 党员教育管理个性化”的智慧党建工作新模式，打破了地域、时空界限的壁垒，有利于增强基层党组织对党员的吸引力和凝聚力。
        						</div>
        					</div>
        					<div class="service-box">
        						<div class="service-icon">
        							<i class="fas fa-brush"></i>
        						</div>
        						<div class="service-title">好</div>
        						<div class="service-desc">
        							初步构建“党务管理智能化、信息管理维护精准化、 党员教育管理个性化”的智慧党建工作新模式，打破了地域、时空界限的壁垒，有利于增强基层党组织对党员的吸引力和凝聚力。
        						</div>
        					</div>
        					<div class="service-box">
        						<div class="service-icon">
        							<i class="fas fa-object-ungroup"></i>
        						</div>
        						<div class="service-title">lucky</div>
        						<div class="service-desc">
        							初步构建“党务管理智能化、信息管理维护精准化、 党员教育管理个性化”的智慧党建工作新模式，打破了地域、时空界限的壁垒，有利于增强基层党组织对党员的吸引力和凝聚力。
        						</div>
        					</div>
        					<div class="service-box">
        						<div class="service-icon">
        							<i class="fas fa-paint-brush"></i>
        						</div>
        						<div class="service-title">lucky</div>
        						<div class="service-desc">
        							初步构建“党务管理智能化、信息管理维护精准化、 党员教育管理个性化”的智慧党建工作新模式，打破了地域、时空界限的壁垒，有利于增强基层党组织对党员的吸引力和凝聚力。
        						</div>
        					</div>
        					<div class="service-box">
        						<div class="service-icon">
        							<i class="fas fa-database"></i>
        						</div>
        						<div class="service-title">lucky</div>
        						<div class="service-desc">
        							初步构建“党务管理智能化、信息管理维护精准化、 党员教育管理个性化”的智慧党建工作新模式，打破了地域、时空界限的壁垒，有利于增强基层党组织对党员的吸引力和凝聚力。
        						</div>
        					</div>
        					<div class="service-box">
        						<div class="service-icon">
        							<i class="fab fa-android"></i>
        						</div>
        						<div class="service-title">Web Design</div>
        						<div class="service-desc">
        							初步构建“党务管理智能化、信息管理维护精准化、 党员教育管理个性化”的智慧党建工作新模式，打破了地域、时空界限的壁垒，有利于增强基层党组织对党员的吸引力和凝聚力。
        						</div>
        					</div>
        				</div>
        			</div>
                </div>




                <div class="footer">

                </div>

            </div>


        </main>
    </div>






        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/menu/assets/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
        <script src="/static/menu/assets/js/custom.js" type="text/javascript"></script>


</body>

</html>
