<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>入党流程</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
				<script src="../public/js/jquery-3.5.1.min.js"></script>
				<link href="../public/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
				
			</head>
		<style>
			#container {/*固定网页框架*/
				margin: 0px auto;/*使整个页面居中*/
				width: 100%;/*宽度*/
				padding: 0px;
				text-align: center;
			}
			#top{
				border: 0px #006600 solid;
				height: 40px;
				
				font-size: 20px;
			}
			#top-right{
				border: 0px #006600 solid;
				height: 40px;
				font-size: 20px;
				float: right;
			}
			#top-left{
				border: 0px #006600 solid;
				height: 40px;
				font-size: 30px;
				float: left;
				font-weight: bold;
			}
			#banner{
				border: 1px #000099 solid;
				height: 300px;
				font-size: 20px;
				width: 100%;
				float: center;
				background: #fa1500;
			}
			#position{
				border: 0px #000099 solid;
				height: 40px;
				font-size: 20px;
				font-weight: bold;
				width: 100%;
				text-align: left;
				color: #eb301f;
			}
			#tip{
				border: 1px #000099 solid;
				height: 220px;
				font-size: 15px;
				width: 100%;
				float: center;
				
			}
			#img_bag {
				height: 90px;
				margin: 0 auto;
				float: center;
			}
					
			#img_bag a {
				float: left;
				width: 350px;
				display: block;
				height: 10px;
				font-weight: bold;
			}
					
			#img_bag #img {
				width: 100%;
				height: 50px;
				background: #fff;
				overflow: hidden;
				float: left
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				width: 10000px;
			}
			
			.btnclick{
				width: 50px;
				height: 30px;
				justify-content: center;
				margin: 5px;
			}
					
			.navitem {
				margin: 10px 5px;
				padding: 0;
				width: 120px;
				height: 30px;
				display: block;
				float: left;
				margin-right: 5px;
				display: flex;
				justify-content: center;
				align-items: cneter;
				background-color: rgba(223, 0, 2, 0.95);
			}
			</style>
	</head>
	<body>
		<div id="container">
		<div id="top">
		<div id="top-left">党建平台</div>
		<div id="top-right">
			<table border="0px"><tr><td>首页</td><td>&nbsp;</td>
			<td>入党事宜</td><td>&nbsp;</td>
				<td>登录</td>
			</tr></table>
			</div>
		</div>
		<div id="banner">	
			<div class="row topbar col-md-12">
				<div class="col-md-2 col-xs-2 col-sm-4 justify-content-center">
					<img src="../public/img/logo.jpg" />
				</div>
				<div class="col-md-8 col-xs-8 col-sm-6">
					<span class="title">重庆师范大学<br />计算机与信息科学学院党建平台</span>
				</div>
			</div>	
			</div>
		<div id="position">当前状态为:入党申请书</div>
		<div class="row bg-default col-md-12 col-xs-12 col-sm-12 text-center">
			<div id="img_bag" >
			     <div id="img">
						<ul>
							<li class="btn  navitem"><a href="top_one.html" style="color: #fff;text-decoration: none;">入党申请书</a></li>
							<li class="btn btn-danger navitem"><a href="top_second.html" style="color: #fff;text-decoration: none;">派人谈话</a></li>
							<li class="btn btn-danger navitem"><a href="top_third.html" style="color: #fff;text-decoration: none;">推优</a></li>
							<li class="btn btn-danger navitem"><a href="top_forth.html" style="color: #fff;text-decoration: none;">学院备案</a></li>
							<li class="btn btn-danger navitem"><a href="top_fifth.html" style="color: #fff;text-decoration: none;">指定培养人</a></li>
							
							<li class="btn btn-danger navitem"><a href="top_seventh.html" style="color: #fff;text-decoration: none;">党课培训</a></li>
							<li class="btn btn-danger navitem"><a href="top_eighth.html" style="color: #fff;text-decoration: none;">思想汇报</a></li>
							<li class="btn btn-danger navitem"><a href="top_ninth.html" style="color: #fff;text-decoration: none;">确定发展对象</a></li>
							<li class="btn btn-danger navitem"><a href="top_tenth.html" style="color: #fff;text-decoration: none;">学院备案</a></li>
							<li class="btn btn-danger navitem"><a href="top_eleventh.html" style="color: #fff;text-decoration: none;">学院党支部意见</a></li></ul>
							<li class="btn btn-danger navitem"><a href="top_twelfth.html" style="color: #fff;text-decoration: none;">确定入党联系人</a></li>
							<li class="btn btn-danger navitem"><a href="top_"thirteenth.html style="color: #fff;text-decoration: none;">政治审查</a></li>
							<li class="btn btn-danger navitem"><a href="top_fourteenth.html" style="color: #fff;text-decoration: none;">集中培训</a></li>
							<li class="btn btn-danger navitem"><a href="top_fifteenth.html" style="color: #fff;text-decoration: none;">支部委员会初查</a></li>
							</div>
							<div id="img_bag">
							     <div id="img">
										<ul>
							<li class="btn btn-danger navitem"><a href="top_sixteenth.html" style="color: #fff;text-decoration: none;">学院预审</a></li>
							<li class="btn btn-danger navitem"><a href="top_seventeenth.html" style="color: #fff;text-decoration: none;">入党志愿书</a></li>
							<li class="btn btn-danger navitem"><a href="top_eighteenth.html" style="color: #fff;text-decoration: none;">支部大会讨论</a></li>
							<li class="btn btn-danger navitem"><a href="top_nineteenth.html" style="color: #fff;text-decoration: none;">派人谈话</a></li>
							<li class="btn btn-danger navitem"><a href="top_twentieth.html" style="color: #fff;text-decoration: none;">学院审批</a></li>
							<li class="btn btn-danger navitem"><a href="top_twenty-first.html" style="color: #fff;text-decoration: none;">学校备案</a></li>
							<li class="btn btn-danger navitem"><a href="top_twenty-second.html" style="color: #fff;text-decoration: none;">入党宣誓</a></li>
							<li class="btn btn-danger navitem"><a href="top_twenty-third.html" style="color: #fff;text-decoration: none;">继续考察</a></li>
							<li class="btn btn-danger navitem"><a href="top_twenty-fourth.html" style="color: #fff;text-decoration: none;">转正申请</a></li>
							<li class="btn btn-danger navitem"><a href="top_twenty-fifth.html" style="color: #fff;text-decoration: none;">支部大会讨论</a></li>
							<li class="btn btn-danger navitem"><a href="top_twenty-sixth.html" style="color: #fff;text-decoration: none;">学院审批</a></li>
							<li class="btn btn-danger navitem"><a href="top_twenty-seventh.html" style="color: #fff;text-decoration: none;">材料归档</a></li>
							<li class="btn btn-danger navitem"><a href="top_twenty-eighth.html" style="color: #fff;text-decoration: none;">正式党员</a></li>
						</ul>
			      </div>
				</div></div>
<div class="row panel panel-default col-xs-12 col-md-12">
				<!--标签部分-->
				
				
				
				
				<div class="panel-body col-xs-12 col-md-12">
					<table class="bTable table table-striped table-bordered table-hover table-condensed text-center">
					    <thead>
					        <tr class="">
					  
					            <th>申请书</th>
					            <th>递交时间</th>
					            <th>状态</th>
					            <th>备注</th>
					            <th>审核人</th>
					            <th>审核时间</th>
					            <th>联系方式</th>
					           
					        </tr>
					    </thead>
					    <tbody>
					        <tr class="" id="">
					            
					            <td>1</td>
					            <td>2020-01-05</td>
								<td><span class="btn btn-danger">未通过</span></td>
					            <td>不合格</td>
					            <td>李XX</td>
					            <td>2020-10-15</td>
					            <td>17325621452</td>
					            
					        </tr>
							
					    </tbody>
					</table>
				</div>
				<div class="row panel-heading col-xs-12 col-md-12" style="height: 450px; ">
					<div id="one">入党申请书1
					
					
					
					 <table class="table table-striped" style="max-height: 340px;width: 300px; margin:0 auto;">  
					
					            
					            <tbody id="tablePage">
					            <tr><td height="320">1</td></tr>
					            <tr><td height="320">2</td></tr>
					            <tr><td height="320">3</td></tr>
					            <tr><td height="320">4</td></tr>
								<tr><td height="320">1</td></tr>
					       
					            </tbody>    
					</table>  
					
					<!-- 底边分页栏代码 -->
					<div style="width:240px; margin:0 auto;">
					    <ul class="pagination" id="pageList" style="width:300px">
					
					        <li id="spanPre" class="disabled"> <a href="javascript:pre();">&laquo;</a></li>
					
					        <li id="spanpage1" class="active"><a href="javascript:nPage(1)">1</a></li>
					        <li id="spanpage2" ><a href="javascript:nPage(2)">2</a></li>
					        <li id="spanpage3" ><a href="javascript:nPage(3)">3</a></li>
					        <li id="spanpage4" ><a href="javascript:nPage(4)">4</a></li>
					        <li id="spanpage5" ><a href="javascript:nPage(5)">5</a></li>
					
					        <li id="spanNext" ><a href="javascript:next()">&raquo;</a></li>
					    </ul>
					</div>
					</body>  
					</html>  
					
					<!-- 下面是js代码 -->
					<script>  
					var theTable = document.getElementById("tablePage");   
					var spanPre = document.getElementById("spanPre");   
					var spanNext = document.getElementById("spanNext"); 
					var pageList = document.getElementById("pageList");
					var spanPageN = pageList.getElementsByTagName("li");
					
					
					var numberRowsInTable = theTable.rows.length;   
					var pageSize = 1;   
					var page = 1;   
					
					
					
					//清除列表的active样式
					function clearActive(){
					    for(var i=1;i<spanPageN.length-1;i++){
					        console.log(spanPageN[i].id);
					        spanPageN[i].setAttribute("class","");
					    }
					}
					//下一页   
					function next(){  
					
					
					    hideTable();   
					
					    //当前最后一行行数 
					    currentRow = pageSize * page;   
					    maxRow = currentRow + pageSize;   
					    // 判断是否到了table最后几行数据
					    if ( maxRow > numberRowsInTable ) {
					        maxRow = numberRowsInTable;   
					
					    }
					    for ( var i = currentRow; i< maxRow; i++ ){   
					        theTable.rows[i].style.display = '';   
					    }   
					
					    page++; 
					    if ( maxRow == numberRowsInTable ){ 
					        console.log(maxRow+"=======");
					        nextOff();
					
					    }     
					    preOn();
					    showPageActive(page); 
					
					}   
					
					//上一页   
					function pre(){   
					
					    hideTable();     
					    page--;   
					
					    currentRow = pageSize * page;   
					    maxRow = currentRow - pageSize;   
					    if ( currentRow > numberRowsInTable ) currentRow = numberRowsInTable;   
					    for ( var i = maxRow; i< currentRow; i++ ){  
					        //清除display样式，display将使用默认  
					        theTable.rows[i].style.display = '';  
					    }   
					
					    if ( maxRow == 0 ){ 
					        preOff(); 
					
					    }   
					    showPageActive(page);   
					    nextOn();   
					
					}   
					
					//第几页   
					function nPage(n){   
					    hideTable();   
					
					    currentRow = pageSize * (n-1);   
					    maxRow = currentRow + pageSize;   
					    if ( currentRow > numberRowsInTable ) currentRow = numberRowsInTable;   
					    for ( var i = currentRow; i<maxRow; i++ ){   
					        theTable.rows[i].style.display = '';   
					    }   
					
					
					    if(n==1){
					        preOff();  
					    }else if(n*pageSize==numberRowsInTable) {
					        nextOff();
					    }else{
					         nextOn();   
					         preOn();   
					    }    
					       showPageActive(n); 
					
					}  
					
					function hideTable(){   
					    for ( var i = 0; i<numberRowsInTable; i++ ){   
					        theTable.rows[i].style.display = 'none';   
					    }   
					}   
					
					//将当前页设为active
					function showPageActive(p){   
					    //清除之前的
					    clearActive();
					    var nowpage =  document.getElementById('spanpage'+p);
					    console.log(nowpage.id);
					    nowpage.setAttribute("class", "active");
					
					}   
					
					//总共页数   
					function pageCount(){   
					    var count = 0;   
					    //判断是否整除
					    if ( numberRowsInTable%pageSize != 0 ) count = 1;    
					    return parseInt(numberRowsInTable/pageSize) + count;   
					}   
					
					
					//上一页下一页链接的禁用和打开   
					function preOn(){ 
					   spanPre.innerHTML=" <a href='javascript:pre();'>&laquo;</a>";
					   spanPre.setAttribute("class", "");
					}   
					function preOff(){
					    //bootstrap设置禁用样式之后还是可以点击一次，所以这里直接修改innerHTML解决这个问题。
					    spanPre.innerHTML=" <a href='javascript:void(0);'>&laquo;</a>";
					    spanPre.className = "disabled";    
					}    
					function nextOn(){ 
					    spanNext.innerHTML="<a href='javascript:next()'>&raquo;</a>";
					    spanNext.setAttribute("class", "");  
					}   
					function nextOff(){ 
					    spanNext.innerHTML="<a href='javascript:void(0)'>&raquo;</a>";
					    spanNext.setAttribute("class", "disabled");
					}   
					
					
					//隐藏表格 ,只显示第一页的内容  
					function hide(){   
					    for ( var i = pageSize; i<numberRowsInTable; i++ ){   
					        theTable.rows[i].style.display = 'none';   
					    }   
					    preOff();       
					    nextOn();     
					}   
					
					hide();   
					</script>  
					
					</div>
				</div>
	</div>
			</div>
			</div>
			<script>
				function $(obj) {
					return document.getElementById(obj)
				}
				var maxWidth = $("img").getElementsByTagName("ul")[0].getElementsByTagName("li").length * 105;
				var isScroll = false;
				var modiLeft;
				$("scroll").onmousedown = function(evt) {
					isScroll = true;
					evt = (evt) ? evt : ((window.event) ? window.event : null);
					if (evt.offsetX) {
						modiLeft = parseInt(evt.offsetX)
					} //欢迎来到站长特效网，我们的网址是www.zzjs.net，很好记，zz站长，js就是js特效，本站收集大量高质量js代码，还有许多广告代码下载。
					else {
						modiLeft = parseInt(evt.layerX)
					}
				}
				document.onmouseup = function() {
					isScroll = false;
				}
				document.onmousemove = function(evt) {
					evt = (evt) ? evt : ((window.event) ? window.event : null);
					if (evt && isScroll) {
						$("scroll").style.left = parseInt(evt.clientX) - parseInt($("scrollBar").offsetLeft) - modiLeft + "px";
						if (parseInt($("scroll").style.left) < 0) {
							$("scroll").style.left = 0 + "px"
						}
						if (parseInt($("scroll").style.left) > 570) {
							$("scroll").style.left = 570 + "px"
						}
						$("img").scrollLeft = parseInt($("scroll").style.left) * ((maxWidth - 600) / 570);
					}
				}
				var targetx = 200; //一次滚动距离
				var dx;
				var a = null;
	
				function moveLeft() {
					var le = parseInt($("img").scrollLeft);
					if (le > 200) {
						targetx = parseInt($("img").scrollLeft) - 200;
					} 
					else {
						targetx = parseInt($("img").scrollLeft) - le - 1
					}
					scLeft();
				} 
				function scLeft() {
					dx = parseInt($("img").scrollLeft) - targetx;
					$("img").scrollLeft -= dx * .3;
					$("scroll").style.left = parseInt($("img").scrollLeft) * (570 / (maxWidth - 600)) + "px";
					if (parseInt($("scroll").style.left) < 0) {
						$("scroll").style.left = 0 + "px"
					}
					if (parseInt($("scroll").style.left) > 570) {
						$("scroll").style.left = 570 + "px"
					}
					clearScroll = setTimeout(scLeft, 50);
					if (dx * .3 < 1) {
						clearTimeout(clearScroll)
					}
				}
	
				function moveRight() {
					var le = parseInt($("img").scrollLeft) + 200;
					var maxL = maxWidth - 600;
					if (le < maxL) {
						targetx = parseInt($("img").scrollLeft) + 200;
					} else {
						targetx = maxL
					}
					scRight();
				}
	
				function scRight() {
					dx = targetx - parseInt($("img").scrollLeft);
					$("img").scrollLeft += dx * .3;
					$("scroll").style.left = parseInt($("img").scrollLeft) * (573 / (maxWidth - 600)) + "px";
					if (parseInt($("scroll").style.left) < 0) {
						$("scroll").style.left = 0 + "px"
					}
					if (parseInt($("scroll").style.left) >= 570) {
						$("scroll").style.left = 570 + "px"
					}
					a = setTimeout(scRight, 50);
					if (dx * .3 < 1) {
						clearTimeout(a)
					}
				}
			</script>
	</div>
			</body>
		</html>